section {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  min-height: 80vh;
  /* background-color: #FEFCED; */
}

html {
  scroll-behavior: smooth;
}

#home{
  background-color: #FEFCED;
}
#skills{
  background-color: #FEFCED;
}
#projects{
  background-color: #FEFCED;
}
#contactme{
  background-color: #FEFCED;
}
#about{
  background-color: #FEFCED;
  border-bottom: #1c38ca 1px solid ;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); */
}