section {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  min-height: 100vh;
  /* background-color: #FEFCED; */
}

html {
  scroll-behavior: smooth;
}

#home{
  background-color: #FEFCED;
}
#skills{
  background-color: #FEFCED;
}
#projects{
  background-color: red;
}
#contactme{
  background-color: green;
}
#about{
  background-color: yellow;
}